// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "partials/variables";

// Navbar
@import "partials/navbar";

// Infos
@import "partials/infos";

// Footer
@import "partials/footer";

// Home
@import "partials/home";

// Register
@import "partials/register";

// Edit
@import "partials/edit";

// Login
@import "partials/login";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

// Fontawesome
@import "~@fortawesome/fontawesome-free/css/all.css";

body {
    background-color: #f0f0f0;
}

main {
    min-height: calc(100vh - 254px);
}

ul {
    list-style: none;
    padding-left: 0;
}

a {
    text-decoration: none;
}
