// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

// Variables
@import "partials/variables";

// Navbar
@import "partials/navbar";

// Infos
@import "partials/infos";

// Footer
@import "partials/footer";

// Home
@import "partials/home";

// Register
@import "partials/register";

// Login
@import "partials/login";

// Create
@import "partials/create";

// Edit
@import "partials/edit";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

// Fontawesome
@import "~@fortawesome/fontawesome-free/css/all.css";

body {
    background-color: #f0f0f0;
    font-family: "Roboto", sans-serif;
}

main {
    min-height: calc(100vh - 250px);
    background-color: #696969;
}

ul {
    list-style: none;
    padding-left: 0;
}

a {
    text-decoration: none;
}

.ms_back-arrow {
    font-size: 30px;
    cursor: pointer;
    color: #fff;

    &:hover {
        color: #000;
    }
}

.ms_message,
.ms_review {
    padding: 100px 0;
}

.ms_not {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bg-message,
.bg-review {
    background-color: #c7eaf2;
}