footer {
    background-color: #03b6dd;
    color: #f0f0f0;
    font-size: 12px;
    height: 250px;

    .container {
        height: 100%;
    }

    img {
        width: 300px;
    }

    a {
        color: #f0f0f0;
    }

    .footer-text {
        font-size: 18px;
    }
}

@media screen and (max-width: 575px) {
    .disp-no {
        display: none;
    }

    .wr-m {
        margin: auto;
    }
}

@media screen and (min-width: 576px) and (max-width: 991px) {
    .disp-no {
        display: none;
    }

    .wr-m {
        margin: auto;
    }
}
