.ms_card-div {
    width: 70%;

    .btn {
        width: 150px;
    }
}

.ms_text-box {

    

    .ms_text {
        background-color: #c7eaf2;
        border-radius: 15px;
        overflow-y: auto;
    }
}