.navbar-back {
    background-color: #03b6dd;

    a {
        color: #f0f0f0;
    }

    .profile-pic-box {

        width: 35px;
        height: 35px;
        border: 0.5px solid #505050;
        border-radius: 50%;

        .profile-pic-nav {
            
            width: 100%;
            height: 100%;
            object-fit: cover;
            border: 1px solid #ccc;
            border-radius:50%;
        }
    }
    

    .ms_dropdown {

        .ms_dropdown-item {
            color: black;
        }

        .ms_logout {
            border-top: 1px solid #dcdcdc;
            margin-top: 2px;
        }
    }
}