.navbar {
    background-color: #03b6dd;

    a {
        color: #f0f0f0;
    }

    .profile-pic-nav {
        width: 35px;
        height: 35px;
        border: 1px solid black;
    }

    .ms_dropdown {

        .ms_dropdown-item {
            color: black;
        }

        .ms_logout {
            border-top: 1px solid #dcdcdc;
            margin-top: 2px;
        }
    }
}